@import "@fontsource/roboto"; 
@import "@fontsource/roboto/400.css"; 
@import "@fontsource/roboto/400-italic.css"; 

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
